* {
    box-sizing: border-box;
}

.input {
    width: 500px;
    margin: 5px auto;
}

.result-table {
    flex: 1;
}

.result-graph {
    width: 600px;
}


.input-region {
    width: 40%;
    margin-left: 20px;
}

.input-form {
    width: 80%;
    margin-left: 20px;
}

.input-checkbox {
    margin-top: 5px;
    margin-right: 20px;
}

.input-number {
    padding-top: 3px;
    margin-bottom: auto;
}

